.textField {
    width: 260px;
    height: 40px;
    &__main {
        display: flex;
        width: 260px;
        height: 40px;
        background-color: white;
        border-radius: 4px;
    }

    &__input {
        position: absolute;
        width: 260px;
        height: 40px;

        color: #192755;
        caret-color: #2a59fe;
        padding: 8px 12px 8px 12px;
        border: 1px solid #dbdde4;
        border-radius: 4px;

        &::placeholder {
            color: #616b8a;
            line-height: 20px;
        }

        &:focus {
            border: 1px solid rgb(42, 89, 254);
            background-color: white;
            border-radius: 4px;
            transition: 0.5s;
        }

        &:disabled {
            color: transparent;
            & + .textField__main::before {
                display: flex;
                align-items: center;
                content: "Disabled";
                color: #868da6;
                width: 260px;
                height: 40px;
                border-radius: 4px;
                padding: 8px 12px 8px 12px;

                border: 1px solid #dbdde4;
                background-color: #fafbfc;
            }

            &::placeholder {
                color: transparent;
            }
        }
    }
}
